<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>autoLayout.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E7937E511C5B4D0D00024DC4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E7937E651C5B4D0D00024DC4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E7937E701C5B4D0D00024DC4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
